@model RealStateApp.Core.Application.ViewModels.Sales.SaleTypeViewModel

@{
    ViewData["Title"] = "Borrar tipo de venta";
}

<head>
    <style>
        body {
            background-color: #f3e3b2;
        }

        .card{
            border: 1px solid black;
            margin-top: 100px;
            width: 400px;
            justify-self: center;
        }

        .footer {
            margin-top: 210px;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-header">
            <hS>¿Seguro que quieres borrar este tipo de venta?</hS>
        </div>
        <div class="card-body">

            <p>Id: @Model.Id</p>
            <p>Nombre: @Model.Nombre</p>

            <form asp-controller="Admin" asp-action="DeleteSaleTPost" method="post">

                <input type="hidden" name="Id" value="@Model.Id" />
                <button class="btn btn-warning" type="submit">Eliminar</button>
                <a class="btn btn-danger" asp-controller="Admin" asp-action="Upgrades">Cancelar</a>
            </form>
        </div>
    </div>
</body>